
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Raw(@SquishIt.Framework.Bundle.JavaScript().RenderCachedAssetTag("combined-jq.js"))

<script type="text/javascript">
    $(document).ready(function() {
        alert('jquery loaded');
    })
</script>